

.nav-width{
    width:100%;
    background-color: #fad269;
    padding-top: 1px;
}

.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 970px;
        padding: 15px 53px;
        /* background-color: #333; */
        text-align: center;
        margin-left: 15em;
        top: 92px;
        margin-top: 85px;
}



.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo span{
        color: #fff;
}

.nav-links {
    display: flex;
    gap: 50px;

}

.nav-links a:active {
    background-color: hsla(0, 0%, 100%, .55);
}

.nav-links a {
    color: rgb(8, 7, 7);
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    background-color: hsla(0, 0%, 100%, .4);
    border-radius: 30px;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        background-color: #333;
        flex-direction: column;
        text-align: center;
        transition: max-height 0.3s ease-in-out;
    }

    .nav-links.open {
        max-height: 300px;
        /* Adjust this value according to the number of links */
    }

    .nav-links a {
        padding: 10px 0;
        border-bottom: 1px solid #444;
    }

    .hamburger {
        display: flex;
    }
}



